/*.card {
    transition: transform 0.2s;
    animation: swing 2s infinite; /* Animation de va-et-vient 
}

@keyframes swing {
    0%, 100% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(5deg);
    }
    75% {
        transform: rotate(-5deg);
    }
}
*/
.row .favoriCard{
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    position: relative;
}
.favori {
    background: #f3f6f7;
}
#favoris-container {
    scroll-snap-type: x mandatory; /* Active le défilement par section */
}

.card {
    scroll-snap-align: start; /* Aligne chaque carte au début de la vue */
}

.img-profile {
    width: 100px; /* Taille par défaut de l'image */
    height: 100px; /* Taille par défaut de l'image */
}

.mechanic-name {
    font-size: 1.25rem; /* Taille de police par défaut */
}

/* Réduction pour les petits écrans */
@media (max-width: 576px) {
    .img-profile {
        width: 60px; /* Taille de l'image sur petit écran */
        height: 60px; /* Taille de l'image sur petit écran */
    }

    .mechanic-name {
        font-size: 1rem; /* Taille de police sur petit écran */
    }
    .bodyFavori {
       height: 100px;
    }
    .containePhone{
        height: 150px !important;
        
    }
    .hero{
        background-size: contain; /* Ajuste l'image pour qu'elle s'adapte à l'écran */
        padding: 50px 0; /* Ajuste la marge interne si nécessaire */
        background-position: center; /* Centre l'image */
    }
    .hero h1 {
        font-size: 1.9rem; /* Réduit la taille du titre */
    }
    .hero p {
        font-size: 1rem; /* Réduit la taille du titre */
    }
}

.styled-line {
    border: none;
    height: 6px !important; /* Épaisseur de la ligne */
    background-color: #b8bcc6; /* Couleur de la ligne */
    margin: 10px 0; /* Espacement autour de la ligne */
    width: 100%; /* Largeur de la ligne */
}